.formB {
    background-color: #eee;
}

.formB .address {
    color: red;
    border-radius: 12px;
    padding: 12px 20px;
}

.formB .firstRow .checkBox {
    padding: 12px 20px;
    border-radius: 8px;
    padding: 5px;
}

.formB .email {
    background-color: aliceblue;
}